<div id="flash_wrap">
  <object type="application/x-shockwave-flash" data="http://cdnbakmi.kaltura.com/flash/kmc/v5.40.3/kmc.swf" width="100%" height="100%" id="kcms" style="visibility: visible; height: 848px;">
    <param name="allowNetworking" value="all">
    <param name="allowScriptAccess" value="always">
    <param name="flashvars" value="kmc_uiconf=35895022&permission_uiconf=35895012&host=www.kaltura.com&cdnhost=cdnbakmi.kaltura.com&srvurl=api_v3/index.php&protocol=http://&partnerid=1645161&subpid=164516100&ks=djJ8MTY0NTE2MXx12mvI0hW53z7LAcN6DCh-uaQrHEnKk-JrY9PupjGWcizaa_vgp_rZwRCbS4SpHIfC_XxT_LL79LXvDNmP3DfqAXs0ieJA7Fuvrj4-cJZcSB0JyLfnW0b27rju_P0w5LqeDCGqYi3tJooDa2Wc2Yxf&entryId=-1&kshowId=-1&debugmode=true&widget_id=_1645161&urchinNumber=UA-7714780-1&firstLogin=false&openPlayer=kmc.preview_embed.doPreviewEmbed&openPlaylist=kmc.preview_embed.doPreviewEmbed&openCw=kmc.functions.openKcw&maxUploadSize=2047&language=en_US">
  </object>
</div>



