<form [formGroup]="_form" novalidate class="kAccountUpgradeWrapper kContent">
  <section class="kFormContainer">
    <div class="kFormSection">
      <div class="kRow">
        <span class="kLabel">{{'applications.settings.accountUpgrade.name' | translate}}</span>
        <div class="kRequired" [ngClass]="{'kHasError':!_form.controls['name'].valid &&
                   _form.controls['name'].touched}">*
        </div>
        <div>
          <input class="kControl" formControlName="name" pInputText
                 [ngClass]="{'kHasError':!_form.controls['name'].valid &&
                   _form.controls['name'].touched}">
          <div *ngIf="_form.controls['name'].touched">
            <div *ngIf="_form.controls['name'].hasError('required')"
                 class="error">
              {{'app.upload.prepareLive.kalturaStreamType.errors.required' | translate}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
