
<p-dropdown [options]="_availableStreamTypes" [(ngModel)]="_selectedStreamType"></p-dropdown>
<!--<select [(ngModel)]="_selectedStreamType">-->
  <!--<option *ngFor="let type of _availableStreamTypes" [ngValue]="type.id">{{type.name | translate}}</option>-->
<!--</select>-->
<div [ngSwitch]="_selectedStreamType">
  <kKalturaLiveStream #kalturaLiveStreamComponent *ngSwitchCase="_streamTypes.kaltura" [(data)]="kalturaLiveStreamData"></kKalturaLiveStream>
  <kManualLive #manualLiveComponent *ngSwitchCase="_streamTypes.manual" [(data)]="manualLiveData"></kManualLive>
  <kUniversalLive #universalLiveComponent *ngSwitchCase="_streamTypes.universal"></kUniversalLive>
  {{kalturaLiveStreamData | json}}
  {{manualLiveData | json}}
</div>

<button (click)="checkValidityOfCurrentSelectedForm()"></button>
